#about {

	.about-left {
		@include span-columns(4);

		>img {
			width: 100%;
			max-width: 300px;
			padding: 4px;
			line-height: 1.42px;
			background-color: $white;
			border: 1px solid $alto;
			border-radius: 4px;
			-webkit-transition: all .2s ease-in-out;
			transition: all .2s ease-in-out;
			display: inline-block;
			max-width: 100%;
			height: auto;

		}
	}

	.about-right {
		@include span-columns(8);
	}
}
