#home {
	min-height: 100%;
	display: block;
	padding-top: 0;
	padding-bottom: 0;
	-webkit-transition: top 0.5s ease;
	-moz-transition: top 0.5s ease;
	-o-transition: top 0.5s ease;
	transition: top 0.5s ease;
	background-color: #52a6b7;
	background: -moz-linear-gradient(top, #52a6b7 50%, #fe9c57 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #52a6b7), color-stop(100%, #fe9c57));
	background: -webkit-linear-gradient(top, #52a6b7 50%, #fe9c57 100%);
	background: -o-linear-gradient(top, #52a6b7 50%, #fe9c57 100%);
	background: -ms-linear-gradient(top, #52a6b7 50%, #fe9c57 100%);
	background: linear-gradient(to bottom, #52a6b7 50%, #fe9c57 100%);
	background-size: cover;
	overflow: hidden;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff52a6b7, endColorstr=#fffe9c57, GradientType=0);
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);

	.vertical-center {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		display: inline-block;
		vertical-align: middle;
		width: 100%;
		text-align: center;

		p {
			margin-top: 20px;
		}

		.i-am {
			width: 100%;
			font-size: 80px;
			height: 80px;
			line-height: 80px;
			font-family: $roboto-slab;
			color: $white;
		}

		.after-i-am {
			width: 100%;
			height: 36px;
			line-height: 36px;
			color: $casal;
			font-size: 40px;
		}
	}

	.button-wrapper {
		width: 100%;
		margin-top: 30px;
		text-align: center !important;
		display: inline-block;
	}
}

.nav-toggle {
	position: absolute;
	position: fixed;
	width: 40px;
	height: 40px;
	line-height: 40px;
	top: 50px;
	left: 5%;
	color: $white;
	cursor: pointer;
	font-size: 20px;
	text-align: center;
	background: $fountain-blue;

	&:hover {
		color: $white;
		background: transparentize($black, .4);

	}
}
