nav {
	// @include outer-container;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	height: 76px;
	width: 100%;
	background: $mine-shaft;

	ul {
		@include outer-container;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
		background: $mine-shaft;

		li {
			color: darken(white, 40%);
			display: inline-block;
			margin-right: 25px;


			&.active>a {
				color: $white;
			}

			a {
				color: darken(white, 40%);

				&:hover {
					color: $white;
				}

				i.fa {
					font-size: 24px;
					height: 32px;
					line-height: 32px;
				}
			}

			span {
				display: block;
				text-transform: uppercase;
				font-size: 12px;
				font: $pt-sans-caption;
				margin-top: 3px;
			}
		}
	}
}
