#resume {
	@include outer-container;

	p {
		display: block;
		height: 22px;
		text-align: center;

		&.title {

			color: $black;
			font-family: $roboto-condensed;
			font-size: 16px;
			font-weight: bold;
			letter-spacing: 1px;
			line-height: 22px;
			margin-bottom: 10px;
			text-transform: uppercase;
		}

		&.tag {
			background: $catskill-white;	
			border-radius: 22px;
			color: $fountain-blue;
			font-size: 12px;
			line-height: 22px;
			margin: 2px 0 0;
			margin-left: auto;
			margin-right: auto;
			padding: 0 11px;
			width: 85%;
		}
	}

	.resume-left {
		@include span-columns(4);

	}

	.resume-right {
		@include span-columns(8);
		padding-left: 20px;

		p.title {
			text-align: left;
		}
	}
}
