@import 'bourbon/bourbon';
@import 'base/base';
@import 'neat/neat';

html, body {
	margin: 0;
	height: 100%;
}

h2 {
	color: $black;
	font-family: $roboto-condensed;
	font-weight: bold;
	height: 40px;
	letter-spacing: 1px;
	margin-bottom: 40px;
	margin-top: 50px;
	position: relative;
	text-align:center;
	text-transform: uppercase;

	&:before {
		content: '  ';
		background-color: rgb(254, 156, 87);
		bottom: -12px;
		box-sizing: border-box;
		display: block;
		height: 6px;
		left: 50%;
		margin-left: 0px;
		margin-top: -2px;
		position: absolute;
		width: 10px;	
	}

	&:after {
		content: '  ';
		background-color: rgb(82, 166, 183);
		bottom: -12px;
		box-sizing: border-box;
		display: block;
		height: 6px;
		left: 50%;
		margin-left: -10px;
		margin-top: -2px;
		position: absolute;
		width: 10px;	
	}

}

h3 {
	color: $black;
	font-family: $roboto-condensed;
	font-size: 24px;
	height: 30px;
	line-height: 20px;
	margin-bottom: 20px;
	position: relative;

	&:before {
		background: -moz-linear-gradient(left, #52a6b7 0, rgba(82,166,183,0) 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0, #52a6b7), color-stop(100%, rgba(82,166,183,0)));
		background: -webkit-linear-gradient(left, #52a6b7 0, rgba(82,166,183,0) 100%);
		background: -o-linear-gradient(left, #52a6b7 0, rgba(82,166,183,0) 100%);
		background: -ms-linear-gradient(left, #52a6b7 0, rgba(82,166,183,0) 100%);
		background: linear-gradient(to right, #52a6b7 0, rgba(82,166,183,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff52a6b7, endColorstr=#0052a6b7, GradientType=1);	

		content: '  ';
		display: block;
		position: absolute;
		bottom: -5px;
		left: 0;
		width: 100%;
		height: 1px;
	}

	&:after {
		background: $tan-hide;
		width: 50px;
		height: 3px;
		bottom: -6px;

		content: '  ';
		display: block;
		position: absolute;
		left: 0;
		
	}

}

.round-button {
	display: inline-block;
	text-align: center;
	line-height: 48px;
	border-radius: 50%;
	background: $white;
	height: 48px;
	width: 48px;
	cursor: pointer;
	color: $tan-hide;
	font-size: 30px;
	margin-right: 20px;

	>a {
		color: $tan-hide;
	}

	&:hover {
		background: $tan-hide;
		color: $white;

		>a {
			color: white;
		}
	}
}

.row {
	// @include span-columns(12);
	@include outer-container;
}
