<section id="about">
	<div class="row">
		<h2>About Me</h2>
	</div>

	<div class="row">
		<div class="about-left">
			<img src="/images/me.jpg" />
		</div>
		<div class="about-right">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, esse, nemo, cum dolorem id cumque, accusantium laudantium impedit ipsam voluptate quod ut veritatis aliquid numquam minima eveniet facere. Incidunt, expedita.

			Corrupti, recusandae, officiis, nam possimus iure placeat ratione quos eligendi sint nihil omnis amet accusantium voluptatem eius nobis expedita architecto dolor ab.

			Quod tempore facilis deserunt ipsa maxime optio sint hic nesciunt! Ipsa, debitis, modi harum blanditiis tempore maiores laudantium et praesentium provident tempora. Doloribus, error, perferendis, cupiditate, iste suscipit est ab quo nemo quaerat nisi reprehenderit quam dolorum nam amet sapiente. Eius, quo error consequuntur.
		</div>
	</div>
</section>
