<!-- Home Section -->
<section id="home">
	<div class="vertical-center-wrapper">
		<div class="vertical-center">
			<span class="i-am">I'm Tyler Schwemley</span>
			<p>
				<span class="after-i-am">Experienced Web Developer</span>
			</p>
			<div class="button-wrapper">
				<div class="round-button">
					<a href="https://github.com/tschwemley" title="Github">
						<i class="fa fa-github-alt"></i>
					</a>
				</div>
				<div class="round-button">
					<a href="#">
						<i class="fa fa-stack-overflow" title="Stack Overflow"></i>
					</a>
				</div>
				<div class="round-button">
					<a href="">
						<i class="fa fa-linkedin" title="Linkedin"></i>
					</a>
				</div>
				<div class="round-button">
					<a href="">
						<i class="fa fa-twitter" title="Twitter"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Home Section -->
