<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="/css/application.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
<!-- Navigation Button -->
<a class="nav-toggle">
	<i class="fa fa-bars"></i>
</a>
<!-- End Navigation Button-->

<!-- Navigation Bar -->
<nav>
	<ul>
		<li class="active">
			<a href="#home" title="Home">
				<i class="fa fa-home"></i>
				<span>Home</span>
			</a>
		</li>
		<li>
			<a href="#about" title="About Me">
				<i class="fa fa-male"></i>
				<span>About</span>
			</a>
		</li>
		<li>
			<a href="#resume" title="Resume">
				<i class="fa fa-file-o"></i>
				<span>Resume</span>
			</a>
		</li>
	</ul>
</nav>
<!-- End Naigation Bar -->
